//Config
@import "./config/variables";
@import "./config/reset";

//Default Style
body {
  font-family: 'Noto Sans KR', sans-serif, 'Indie Flower', cursive;
  background-color: $darkmode_bg;
  color: $darkmode_fontColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width:100%;
}

footer {
  width:100%;
}

main {
  width:100%;
  margin-top:8vh;
  //max-width:1024px;
  padding:4vh 20px 4vh 20px;
  box-sizing: border-box;
}

a {
  color:inherit;
}

//Components
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/video.scss";
@import "./components/videoPlayer.scss";

//Screens
@import "./screens/home.scss";
@import "./screens/upload.scss";
@import "./screens/search.scss";
@import "./screens/profile.scss";
@import "./screens/login.scss";
@import "./screens/join.scss";
@import "./screens/userInfo.scss";
@import "./screens/watch.scss";
@import "./screens/edit.scss";
@import "./screens/changePassword.scss";
