@import "./_variables";

body {
  background-color: black;
  color: white;
}

video {
  display: block;
  margin:auto;
  background-color: white;
}

.video-mixin__thumb {
  width:300px;
  height:200px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size:contain;
  background-color:white;
}