.footer {
  .container {
    max-width:1024px;
    padding:3vh 20px;
    margin:auto;
    box-sizing: border-box;
    text-align:center;
    font-size:1.5rem;
    opacity:0.5;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      margin-left:0.5em;
      font-size:1.8rem;
      font-family: "Indie Flower", cursive;
    }
  }
}