doctype html 
html(lang="ko")
  head
    link(rel="stylesheet", href="https://unpkg.com/mvp.css@1.12/mvp.css")
    title #{pageTitle} | CloneTube
  body 
    header
      if fakeUser.loggedIn 
        small Hello #{fakeUser.userName}
      nav 
        ul
          li
              a(href="/") Home
          li
              a(href="/search") Search

          if fakeUser.loggedIn
            li
              a(href="/videos/upload") Upload
            li
              a(href="/logout") Logout
          else 
            li
              a(href="/login") Login

      h1=pageTitle

    block content
  include partials/footer