extends base
block content
  div.changePassword_container
    div.changePassword
      div.pageTitle 👷 Change Password
      if errorMsg
        div.errMsg=errorMsg 
      form(method="POST")
        input(name="oldPassword" type="password", placeholder="Old Password")
        input(name="newPassword" type="password", placeholder="New Password")
        input(name="newPasswordConfirm" type="password", placeholder="New Password Confirmation")
        input.submit(type="submit" value="Change Password")