extends base
  
block content 
  h4 Upload Video
  form(method="POST")
    input(name="title", placeholder="Title", type="text", max=80, required)
    input(name="description", placeholder="Description", min=20, type="text", required)
    input(name="hashtags", placeholder="Hashtags, separated by comma", type="text", required)
    input(value="Upload Video", type="submit")

  if errorMsg 
    span=errorMsg